name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  run_linters:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Sqf-Linter
        run: python3 ./tools/sqf_lint.py
      - name: Config-Linter
        run: python3 ./tools/config_lint.py

