name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run_linters:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Python setup
        uses: actions/setup-python@v1
        with:
          python-version: "3.9"
      - name: Sqf-Linter
        run: python ./tools/verify.py
      - name: Hpp Lint
        uses: shenxianpeng/cpp-linter-action@v1.3.0

