name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run_linters:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Python setup
        uses: actions/setup-python@v1
        with:
          python-version: "3.9"
      - name: sqflint
        uses: arma-actions/sqflint@v1.0
        with: --exit e

